
body{

}



*{
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.albumList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;

}

.titleThumbnail{

  margin-right: 8%;
  margin-bottom: 5%;
  border-style: groove;
  border-color: lightgray;
  border-radius: 10px;

 
}

h1{
   margin-bottom: 5%;
    padding-bottom: 5%;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    background-image: url('./camera2.jpg');
    background-position: center;
    border:double;
    padding-top: 5%;
    color: antiquewhite;
}

.detailList{

  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 15%
}

.sideList{
  position: absolute;
}

.albumLinks{
    margin-bottom: 35%;
    background-color: olive;
    border-radius: 2px;
    
    margin-left: 10px;
    color: whitesmoke;
    display: flex;
    justify-content: center;

}

.detailImg{
  margin-right: 150px;
  border-style: groove;
  border-color: lightgray;
  border-radius: 10px;
}

.detailTitle{
  padding-left: 25%;
  padding-top: 5%;
}

.albumTitle{
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 20px;
}

.links{
  color: whitesmoke;
}

.thumbnail{
  width: 250px;
  height: 250px;
}